        <div id="chat-room-list">
        <h2>Your Chat Rooms</h2>
        <ul>
            <!-- List of saved chat-room -->
            <li class="chat-rooms">
                <button class="chat-room-icon"></button>
                <span>chat-room 1</span>
            </li>
            <li class="chat-rooms">
                <button class="chat-room-icon"></button>
                <span>chat-room 2</span>
            </li>
            <li class="chat-rooms">
                <button class="chat-room-icon"></button>
                <span>chat-room 3</span>
            </li>
     
        </ul>
    </div>
    <div id="chat-room">
        <div id = chat-header>
        <h2>Chat room</h2>
        </div>
    
    <div id="messages">
        <!-- Messages will be appended here -->
     </div> 
     <div id="input" class="input-group mb-3 light">
        <input type="text" class="form-control" placeholder="Wirte text here" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Send</button>
      </div>
      <script src="/public/js/script.js"></script>
