<section class="col-12 col-md-6 row">
    <div class="align-self-center">
        <ul id="messages" class="list-group">
            <li class="list-group-item">beginning of chat...</li>
        </ul>
        <form class="form-control" id="form" action="">
            <div class="input-group mb-3">
                <input id="message" type="text" class="form-control">
                <button id="send-btn" class="btn btn-outline-secondary" type="button" id="button-addon2">Send</button>
            </div>
        </form>
    </div>
</section>
<script src="/js/chat-client.js"></script>