<section class="col-12 col-md-6 row">
    <div class="align-self-center">
        <ul id="chatrooms-list" class="list-group">
            <li class="list-group-item">beginning of chat...</li>
			{{#each chatrooms as |chatroom| }}
			<li class="list-group-item"><a href="/chat/{{chatroom.id}}">{{chatroom.room_name}}</a></li>
			{{/each}}
        </ul>
    </div>
</section>