#chat-room-list {
    padding: 10px;
    background-color: #36393f;
    color: white;
}

.chat-rooms {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.chat-room-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #7289da;
    margin-right: 10px;
}
body {
    margin: 0;
    padding: 0;
}

#chat-room {
    position: fixed;
    top: 0;
    right: 0;
    height: 96%;
    width: 80%; /* Adjust the width as needed */
    background-color: #434445;
    color: white;
}

#chat-header {
    background-color: #2b2b2e;
    padding: 10px;
}

#messages {
    padding: 10px;
    height: calc(95% - 60px); /* Adjust the height as needed */
    overflow-y: auto;
    color: white;
}

#input {
    height: 9%;
    width: 100%;
    padding: 10px;
    border: none;
   color: black;
   background-color: #434445 ;
}
#send-btn{
    width: 7%;
}
#logout-button {
    /* Add styles as needed to make the button visible */
    display: inline-block; /* Ensure it's displayed */
    /* Other styling properties (e.g., background color, text color) */
}
.nav{
    height: 6%;

}